
#error44 
    {
    /* taille de l'image */
    height: 350;
    width: 280;
    /* positionnement de l'image*/
    position : static ;
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    }
#Ici { 
    font-size: 100px;
    color: blue ;
    position : static ;
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}